---
// Component Imports
import Soon from '../components/Soon.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
		@font-face {
			font-family: 'Jost Regular';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts/Jost-Regular.woff'); /* IE9 Compat Modes */
			src: local(''),
					url('/fonts/Jost-Regular.woff2') format('woff2'), /* Super Modern Browsers */
					url('/fonts/Jost-Regular.woff') format('woff'), /* Modern Browsers */
					url('/fonts/Jost-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		}
			* {
				box-sizing: border-box;
			}

			body {
				font-family: 'Jost Regular', sans-serif;
				background: rgb(204,220,217);
  				background: linear-gradient(90deg, rgba(204,220,217,1) 0%, rgba(204,204,153,1) 100%);
			}

			a {
				text-decoration: none;
			}

			a,
			a:visited {
				color: inherit;
			}

			#root {
				height: 100%;
				display: flex;
				flex-direction: column;
			}

		</style>
		<title>The Therapy Place</title>
	</head>
	<body>
		<Soon />
	</body>
</html>
