.page {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: rgb(204, 220, 217);
  background: linear-gradient(
    90deg,
    rgba(204, 220, 217, 1) 0%,
    rgba(204, 204, 153, 1) 100%
  );
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.header {
  align-self: flex-start;
  display: flex;
  margin-top: 24px;
  color: #fff;
}

.header a {
  display: inline-block;
  margin-right: 2rem;
  transition: opacity 0.05s ease;
}

.header a:hover {
  opacity: 0.75;
}

.icon {
  height: 30px;
  width: 20px;
  fill: #23254e;
  color: #23254e;
}

.content {
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .logo {
  width: 300px;
  height: 300px;
}

.content .copy {
  text-align: center;
  color: #23254e;
}

.content .copy h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 12px;
}

.content .copy p {
  font-size: 1em;
  line-height: 28px;
  font-weight: 500;
}

.cta {
  min-width: 64px;
  align-self: center;
  width: 150px;
  padding: 16px 24px;
  background: #749c93;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #23254e;
  margin: 80px 0;
  text-decoration: none;
}

/* media queries */
@media screen and (max-width: 768px) {
  .header a {
    display: inline-block;
    margin-right: 1rem;
    transition: opacity 0.05s ease;
  }

  .icon {
    height: 30px;
  }

  .content .logo {
    width: 120px;
    height: 120px;
    border-radius: 0;
    box-shadow: none;
  }

  .content .copy {
    width: 90%;
  }

  .content .copy h1 {
    font-size: 28px;
  }
}

@media (orientation: landscape) {
  .cta {
    margin-top: 15px;
    margin: 0;
  }
}
